
@import url("https://fonts.googleapis.com/css2?family=Radio+Canada:wght@400;500;600;700&display=swap");

body {
    background-image: url("https://cdn.pixabay.com/photo/2018/03/17/19/36/connection-3234929_1280.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    font-family: "Radio Canada", sans-serif;
  }
  
  h1{
    color: white;
    text-align: center;
    margin-bottom: -5px;
    text-shadow: 1px;
    font-size: 50px;
}

p{
    margin-bottom: -10px;
}

.box{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 35px;
}

.row{
    display: flex;
}

.btn{
    border: none;
    width: 75px;
    height: 75px;
    display: flex;
    background-color: whitesmoke;
    color: black;
    text-shadow: gray;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    cursor: default;
}

.btn:active{
    outline: none;
}

.btn:hover{
  background-color: white;
  cursor: pointer;
}

.btn:disabled{
  color: black;
  cursor: no-drop;
}

.result-container{
  background-color: white;
  justify-content: center;
  align-items: center;
  max-width: fit-content;
}

#result{
  color: black;
  text-shadow: gray;
  font-size: 25px;
  align-items: center;
  margin: 25px;
}

#b1{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

#b2{
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

#b3{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

#b4{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
}

#b5{
    border: 1px solid gray;
}

#b6{
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
}

#b7{
    border-top: 1px solid gray;
    border-right: 1px solid gray;
}

#b8{
    border-top: 1px solid gray;
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

#b9{
    border-top: 1px solid gray;
    border-left: 1px solid gray;
}

#reset{
    box-sizing: border-box;
    width: 95px;
    height: 40px;
    border: 1px solid black;
    margin-left: auto;
    border-radius: 8px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: whitesmoke;
    color: black;
    font-size: 20px;
    cursor: pointer;
}

#main{
    text-align: center;
}